@page
@model SSD_Assignment.Pages.AboutModel
@{
    ViewData["Title"] = "About EZ Books";
}
<h1>@ViewData["Title"]</h1>

<p>EZ Books is an online website that sells a wide variety of eBooks.</p>

<h2>Founders</h2>
<ul>
    <li>Edward Neo Rei Siang</li>
    <li>Jeremy Sng Wei Liang</li>
    <li>Ben Aw Yong Keen Weng</li>
</ul>
