@page
@model SSD_Assignment.Pages.PaymentPage.PaymentSuccessModel
@{
}
<h1>Thank You For Your Purchase!</h1>
<h2>Happy Reading!</h2>
<a asp-page="/Books/Index">Continue Browsing For Books?</a>
<br />
<a asp-page="/FeedbackList/Feedback">Want To Give A Feedback?</a>

